@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mochiy+Pop+One&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth; 
}

body {
    font-family: 'Mochiy Pop One', sans-serif;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 4rem;
    overflow-x: hidden;
    background: url('/assets/images/highscore-image.jpg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 1%;
}

.center {
    text-align: center;
}


#question {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    color: #0C2144;
    text-align: center;
    padding: 1%;
}

.container {
    width: 80%;
    max-width: 60rem;
    display: flex;
    margin: 0.5rem auto;
    justify-content: center;
    align-items: center;
    background: rgba(93, 202, 209, 0.9);
    border-radius: 2.5rem;
    padding: 5%;
}

/* NAVIGATION BAR */

#logo {
    float: left;
    font-size: 4.8rem;
    margin-left: 1rem;
    color: #fefefe;
    padding: 1%;
}

#menu {
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
}

#menu, #logo {
    line-height: 8rem;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2rem;
}

#menu a {
    text-decoration: none;
    color: #fefefe;
}

#menu a:hover {
    color: #FEDE00;
}

.home-img {
    height: 7vh;
    margin: 1rem;
    float: left;
}

/* HOME PAGE */

.banner-txt {
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
}

.left-about {
    color: #fefefe;
    font-size: 1.4rem;
    width: 40%;
    float: left;
    display: inline;
    padding: 14rem 1.8rem;
}

.right-about {
    width: 60%;
    float: right;
}

.right-about>img {
    width: 100%;
    padding-top: 14rem;
}

.instructions {
    margin: 0 auto;
    width: 100%;
    clear: both;
    padding: 2%;
    color: #fefefe;
    font-size: 1.4rem;
}

/* BUTTONS FOR ALL PAGES */

#start-button,
#next-button {
    width: 20rem;
    font-weight: 400;
    background-color: #FEDE00;
    color: #0C2144;
    margin: 1rem auto;
}

#next-button {
    margin: 1% auto 10% auto !important;
}

.button {
    font-size: 1.3em;
    padding: 1rem;
    width: 40rem;
    background-color: #0C2144;
    border: 0.2rem solid #0C2144;
    border-radius: 2.5rem;
    display: block;
    margin: 2% auto;
    color: #fefefe;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    transform: scale(1.1);
    color: #FEDE00;
}

/* HIGH SCORE*/

#highscore-container {
    padding-top: 20rem;
}

#highScoresList>li {
    margin: 0 auto;
    width: max-content;
    line-height: 3em;
    font-size: 2.4rem;
}

/* GAME PAGE */

#main-container {
    padding-top: 16rem;
}

a {
    color: #0C2144;
}

a:hover {
    color: #019992;
    text-decoration: solid;
    font-weight: 600;
}

.aligned {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto;
}

#timer {
    font-size: x-large;
    color: var(--denim);
    width: 20rem;
    border-radius: 3.5rem;
    margin: 0 auto;
    background: rgba(93, 202, 209, 0.9);
}

#game {
    background: url('/assets/images/highscore-image.jpg');
}

#hint-image {
    width: 60%;
    margin: 0 auto
}

#quiz {
    position: relative;
}

#question {
    height: 10rem;
    position: relative;
}

#question-image {
    width: 100%;
    border-radius: 0.8rem;
    position: relative;
}

#choice-container {
    padding: 5px 0;
    margin: 0 auto;
}


#progress {
    width: 50%;
    margin: 0 auto;
}

#progress-text {
    margin: -20px auto;
    width: 176px;
    border-radius: 35px;
    font-size: small;
    font-weight: 600;
    background: rgba(93, 202, 209, 0.97);
}

#progress-bar {
    border: 1px var(--genoa) solid;
    height: 15px;
    width: 80%;
    border-radius: 25px;
    margin: 4rem auto 0 auto;
    background: rgba(93, 202, 209, 0.97);
}

#progressBarFull {
    height: 1.4rem;
    background-color: var(--java);
    width: 0%;
    border-radius: 25px;
    margin: 0;
}

/* correct and wrong answers style */

.correct {
    background-color: rgb(94, 196, 22);
    color: #fefefe;
}

.wrong {
    background-color: rgb(217, 4, 22);
    color: #fefefe;
}

/* Explanation and pop up */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto 10px;
    padding: 5%;
    border: 1px solid #888;
    width: 80%;
    font-size: large;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* END PAGE*/

#form-container {
    padding-top: 20rem;
}

.box {
    display: block;
    padding: 2%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 14em;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: 1px var(--black) solid;
    box-shadow: var(--genoa);
}

input::placeholder {
    color: #fefefe;
}