@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@1,300;1,500&display=swap');

:root {
    font-size: 62.5%;
    scroll-behavior: smooth; 
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 6rem;
    overflow-x: hidden;
    background-color: #0C2144;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

h1,
h2,
#question {
    font-family: 'Lato', 'sans serif';
    font-size: 1.8rem;
    color: #CADEDF;
    text-align: center;
    padding: 1%;
}

h2 {
    font-size: 1.7em;
}

li,
a,
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #CADEDF;
}

p {
    margin: 0 0 5rem 0 !important;
}

.center {
    text-align: center;
}

/* NAVIGATION BAR */

#logo {
    float: left;
    font-size: 380%;
    margin-left: 1rem;
}

#menu {
    font-size:  160%;
    letter-spacing: 0.4rem;
}

#menu, #logo {
    line-height: 8rem;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2rem;
}

#menu a {
    text-decoration: none;
    color: #CADEDF;
}

#menu a:hover {
    border-bottom: 1px solid #10BC10;
}

.home-img {
    height: 7vh;
    margin: 1rem;
    float: left;
}

/* HOME PAGE */

.banner-txt {
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
}

.left-about {
    width: 40%;
    float: left;
    display: inline;
    padding: 16rem 4rem;
}

.right-about {
    width: 60%;
    float: right;
}

.right-about>img {
    width: 100%;
    padding-top: 18rem;
}

.instructions {
    margin: 0% auto;
    width: 100%;
    clear: both;
    padding: 0;
}

/* BUTTONS FOR ALL PAGES */
#start-button,
#next-button {
    width: 20rem;
    font-weight: 400;
    background-color: #10BC10;
    color: #0C2144;
    margin: 1rem auto;
}

#next-button {
    margin: 1% auto 10% auto !important;
}

.button {
    font-size: 1.3em;
    padding: 1rem;
    width: 40rem;
    background-color: #10BC10;
    border-radius: 2.5rem;
    display: block;
    margin: 2% auto;
    color: #10BC10;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    transform: scale(1.1);
    color: white;
}

